/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
};

&msc {
};

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <275>;
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 0 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 39 40 41 42 50 51 52 53 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 43 44 45 46 47 48 49 54 55 56 57>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC                   &HMR F1 N1       &HMR F2 N2    &HMR F3 N3     &HMR F4 N4         &HMR F5 N5                                                   &HMR F6 N6  &HMR F7 N7    &HMR F8 N8    &HMR F9 N9    &HMR F10 N0       &kp EQUAL
&kp TAB                   &kp Q            &kp W         &kp F          &HMR C_AC_PRINT P  &kp B                                                        &kp J       &kp L         &kp U         &kp Y         &kp SEMICOLON     &kp MINUS
&kp BACKSPACE             &HMR LEFT_ALT A  &HMR LMETA R  &HMR LCTRL S   &HMR LEFT_SHIFT T  &kp G                                                        &kp M       &HMR RSHFT N  &HMR RCTRL E  &HMR RMETA I  &HMR RIGHT_ALT O  &kp SQT
&HMR K_MUTE K_PLAY_PAUSE  &HMR K_UNDO Z    &HMR K_CUT X  &HMR K_COPY C  &kp D              &HMR K_PASTE V  &kp LBKT                     &kp RBKT        &kp K       &kp H         &kp COMMA     &kp DOT       &kp FSLH          &kp RSHFT
                                                         &kp LALT       &kp LGUI           &to 1           &HMR LEFT_SHIFT BACKSPACE    &HMR RET SPACE  &to 2       &kp BSPC      &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Lower";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4                                          &none   &none          &none          &none          &none         &none
&kp F1      &kp F2        &kp F3         &kp F4         &kp F5         &kp F6                                                &kp F7  &kp F8         &kp F9         &kp F10        &kp F11       &kp F12
&kp GRAVE   &HMR LALT N1  &HMR LMETA N2  &HMR LCTRL N3  &HMR LSHFT N4  &kp N5                                                &kp N6  &HMR RSHFT N7  &HMR RCTRL N8  &HMR RMETA N9  &HMR RALT N0  &kp TILDE
&none       &to 0         &to 1          &to 2          &none          &none         &none                        &none      &none   &kp MINUS      &kp KP_PLUS    &kp LBRC       &kp RBRC      &kp PIPE
                                         &none          &none          &to 0         &HMR LEFT_SHIFT BACKSPACE    &kp SPACE  &to 2   &none          &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "Raise";
            bindings = <
&none  &none            &none       &none             &none       &none                     &none     &none           &none           &none         &none            &none
&none  &kp C_VOLUME_UP  &none       &none             &none       &none                     &none     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none
&none  &kp C_MUTE       &kp K_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &none                     &none     &kp LEFT        &kp DOWN        &kp UP        &kp RIGHT        &none
&none  &kp C_VOL_DN     &none       &none             &none       &none  &none    &none     &none     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none
                                    &none             &none       &to 0  &none    &mkp MB1  &mkp MB2  &mkp MB3        &none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
